.landing-page__container {
	text-align: center;
}

.landing-page__title {
	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	margin-top: 50px;
	color: #e85a4f;
}

.landing-page__info,
.landing-page__card {
	font-family: 'Work Sans', sans-serif;
	padding: 15px;
}

@media only screen and (min-width: 768px) {
	.landing-page__card {
		display: flex;
		justify-content: center;
		vertical-align: center;
	}
}
